---
import type {
    CumulativeStandingEntry,
    MatchPlacementEntry,
} from "@/lib/standings";
import "@splidejs/splide/css/core";
import StandingsTable from "./StandingsTable.astro";
import standingsSliderScript from "@/components/standings/standings-slider-client.ts?url";

type Props = {
    chunkedStandings: (CumulativeStandingEntry | MatchPlacementEntry)[][];
    variant: "event" | "match";
};

const { chunkedStandings, variant } = Astro.props as Props;
---

<div class="standings-splide splide h-full w-full">
    <div class="splide__track h-full">
        <ul class="splide__list h-full">
            {chunkedStandings.map((chunk) => (
                <li class="splide__slide h-full">
                    <div class="flex h-full w-full flex-col">
                        <StandingsTable chunk={chunk} variant={variant} />
                    </div>
                </li>
            ))}
        </ul>
    </div>
</div>

<script type="module" is:inline src={standingsSliderScript}></script>
