---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { EventsList } from "@/components/events/EventsList";
import { getEvents } from "@/lib/microcms";

export const prerender = false;

const { contents: events = [] } = await getEvents({ orders: "-publishedAt" });
const initialFetchedAt = new Date().toISOString();

Astro.response.headers.set(
    "Cache-Control",
    "no-store, no-cache, must-revalidate, proxy-revalidate",
);
---

<BaseLayout>
    <section class="container py-4">
        <EventsList
            client:load
            initialEvents={events}
            initialFetchedAt={initialFetchedAt}
        />
    </section>
</BaseLayout>
