---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const events = (await getCollection("events"))
    .sort(
        (a, b) =>
            new Date(b.data.publishedAt).getTime() -
            new Date(a.data.publishedAt).getTime(),
    )
---

<BaseLayout>
    <section class="container py-4">
		{events.map((event)=> (
			<a href={`/event/${event.id}`}>
				{event.data.title}
			</a>
		))}
    </section>
</BaseLayout>